/* http://www.hypergurl.com/colormatch.php?color=2158CE */
/* http://developer.yahoo.com/yui/fonts/ */

/* ----- Main ----- */

body {
	background-color: #ffffff;
	text-align: left;
}

a {
	color: #3f5c7d;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

p {
	margin-bottom: 0.8em;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}


/* ----- Standard ----- */

.clear {
	clear: both;
}

#page-terms_and_conditions {
	padding: 10px;
}

/* ----- Page - Terms and Conditions ----- */

#page-terms_and_conditions h2 {
	font-weight: bold;
	font-size: 14pt;
	margin-bottom: 1em;
}

#page-terms_and_conditions h3 {
	font-weight: bold;
	font-size: 13pt;
	margin-bottom: 0.5em;
}
